* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: #fefaf6;
    color: #333333;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    padding: 20px;
    background-color: #fefaf6;
    font-family: 'PT Sans', sans-serif;
    color: #b56576;
    font-size: em;
    font-weight: 700;

}

.header-logo {
    width: 100px; /* Ajuste conforme necessário */
    height: auto;
}

h1 {
    color: #b56576;
    font-size: 2em;
    font-family: 'PT Sans', sans-serif; /* Usando PT Sans para o título */
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fff0e6;
    border: 1px solid #e5d1c3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 300px; /* Largura fixa do card */
    height: auto; /* Altura automática para o card */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%; /* Ajusta a largura da imagem ao card */
    height: auto; /* Mantém a altura proporcional */
    max-height: 200px; /* Altura máxima para a imagem */
    object-fit: contain; /* Ajusta a imagem para caber no espaço sem distorção */
    border-bottom: 1px solid #e5d1c3;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card h2 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #6d6875;
    font-family: 'Poppins', sans-serif;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #b56576;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    font-family: 'Poppins', sans-serif;
    width: 100%; /* Largura do botão igual à largura da imagem */
    box-sizing: border-box; /* Garante que o padding não afete a largura total */
}

.card a:hover {
    background-color: #6d6875;
}

/* Estilo responsivo */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
    }

    header {
        flex-direction: column; /* Muda a direção do layout para coluna */
        align-items: center;
        text-align: center; /* Centraliza o texto em telas menores */
    }

    .header-logo {
        margin-bottom: 10px; /* Espaçamento abaixo da imagem */
    }
}
